*{
    font-family: 'Noto Sans TC', sans-serif;
}
body{
    margin: 11px 14px 12px 1%;
    padding: 0px;
}
.leftbox{
    width: 408px;
    height: 715px;
    background: #C9C9C9;
    border: 1px solid #CBC1C1;
    box-sizing: border-box;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
}
.titletext{
    position: relative;
    width: 308px;
    height: 59px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 117%;
    color: #000;
    left: 50px;
    text-align: center;
}
.numbertext{
    position: relative;
    width: 85px;
    height: 36px;
    left: 25px;
    top: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.fractiontext{
    position: relative;
    width: 85px;
    height: 35px;
    left: 140px;
    top: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.input{
    width: 111px;
    height: 62px;
    background: #FFFFFF;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 94px;
    border-style: none;
    font-size: 30px;
    text-align: center;
}
.numberinput{
    position: relative;
    left: 25px;
    top: 20px;
}
.fractioninput{
    position: relative;
    left: 76px;
    top: 20px;
}
.subjecttext{
    position: relative;
    width: 85px;
    height: 44px;
    left: 56px;
    top: 44px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.suject{
    position: relative;
    top: 43px;
    width: 211px;
    height: 53px;
    background: #FFFFFF;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    left: 70px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.addBTN{
    position: relative;
    width: 189px;
    height: 175px;
    left: 9px;
    top: 70px;
    background: radial-gradient(65.43% 65.43% at 35.19% 29.43%, rgba(255, 184, 0, 0.9) 0%, rgba(255, 153, 0, 0) 100%), #FFE600;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin-bottom: 70px;
    transition: 0.5s;
}
.addBTN:hover{
    cursor: pointer;
    transform: scale(1.13);
    transition: 0.5s;
}
.squareBTNtitletext{
    position: relative;
    width: 111px;
    height: 30px;
    left: 16px;
    top: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;

}
.squareBTNtext{
    position: relative;
    width: 149px;
    height: 102px;
    left: 17px;
    top: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
}
.calculateBTN{
    position: relative;
    width: 189px;
    height: 175px;
    left: 211px;
    bottom: 175px;
    background: radial-gradient(65.43% 65.43% at 35.19% 29.43%, rgba(255, 92, 0, 0.9) 0%, rgba(255, 153, 0, 0) 100%), #FF3D00;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    transition: 0.5s;
}
.calculateBTN:hover{
    cursor: pointer;
    transform: scale(1.13);
    transition: 0.5s;
}
.ClearBTN{
    position: relative;
    width: 391px;
    height: 82px;
    left: 9px;
    top: 100px;
    background: radial-gradient(65.43% 65.43% at 35.19% 29.43%, rgba(189, 255, 0, 0.9) 0%, rgba(255, 153, 0, 0) 100%), #42FF00;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    transition: 0.5s;
}
.ClearBTN:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.ClearBTN::after{
    position: relative;
    content: '';
    display: inline-block;
    width: 2px;
    height: 40px;
    background-color: black;
    top: 11px;
    right: 9px;
    opacity: 0.3;
}
.rectangletitletext{
    position: relative;
    width: 111px;
    height: 30px;
    left: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
}
.rectangletext{
    position: relative;
    width: 111px;
    height: 30px;
    left: 140px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 82px;
    color: #000000;
    opacity: 0.7;
}
.separate{
    position: relative;
    width: 50px;
    height: 64px;
    left: 25px;
    top: 9px;
    background-color: black;
}
.downloadBTN{
    position: relative;
    width: 391px;
    height: 82px;
    left: 9px;
    top: 130px;
    background: radial-gradient(65.43% 65.43% at 35.19% 29.43%, rgba(0, 255, 240, 0.9) 0%, rgba(255, 153, 0, 0) 100%), #00A3FF;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    transition: 0.5s;
}
.downloadBTN:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.downloadBTN::after{
    position: relative;
    content: '';
    display: inline-block;
    width: 2px;
    height: 40px;
    background-color: black;
    top: 11px;
    right: 90px;
    opacity: 0.3;
}
.inputbox{
    position: relative;
    width: 378px;
    height: 204px;
    left: 13px;
    top: 9px;
    background: radial-gradient(130.47% 132.35% at 42.15% 19.25%, rgba(243, 239, 232, 0.9) 0%, rgba(86, 84, 81, 0) 100%), #E3E3E3;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin-bottom: -45px;
}
.rightbox{
    position: absolute;
    top: 11px;
    left: 440px;
    width: 68%;
    height: 715px;
    background: #C4C4C4;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
}
/* 表格 */
.rightinbox{
    background-color: #C4C4C4;
    width: 900px;
    margin: 27px 0px 27px 29px; 
}
.horizontal{
    width: 984px;
    display: flex;
}
.sheet{
    width: 75px;
    height: 25px;
    background-color: white;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    line-height: 25px;
    display: flex;
    flex-direction: column;
}
.number-,.chinese-,.math-,.english-,.science-,.history-,.geography-,.citizen-,.socialAverage-,.total-,.average-,.ranking-{
    border-top: 2px solid black;
}
.ranking,.ranking-{
    border-right: 2px solid black;
}
@media(max-width:750px){
    .rightbox{
        top: 726px;
        left: 0px;
        overflow-x: scroll;
        width: 408px;
    }
    body{
        margin: 0px;
    }
}